body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 2em;
    margin-bottom: 25px;
}

p {
    font-size: 1.5em;
    margin-bottom: 25px;
}

li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

ul {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}